body {
    padding: 20px;
    font-family: "Times New Roman", serif !important;
}

#bb {
    background-color: black;
    color: white;
    font-size: 100px;
    font-family: monospace;
}
.jumbotron {
    
    height:200px;
}
